@model LearningASP.NET_MVC_V0._0._4.Controllers.Album
@{
    ViewBag.Tittle = "Edit";
}
<h2>Edit albumu</h2>

@using (Ajax.BeginForm(new AjaxOptions()
{
    HttpMethod = "Post",
    OnSuccess = "ProcessAndUpdate"



}))
{
    @Html.LabelFor(a => a.AlbumTitle, "Tytuł: ")
    @Html.TextBoxFor(a => a.AlbumTitle)
    
    @Html.LabelFor(a => a.Artist.Name, "Nazwa: ")
    @Html.TextBoxFor(a => a.Artist.Name)

    @Html.LabelFor(a => a.Price, "Cena: ")
    @Html.TextBoxFor(a => a.Price)


    <input type="submit" value="Wyślij" />
}

<div id="formresult"></div>



<script id="albumtmpl" type="text/template">
    <h1>{{AlbumTitle}}</h1>
    <h2>by {{Artist.Name}}</h2>
    <p>Cena promocyjna: {{Price}}</p>
</script>

<script>
    function ProcessAndUpdate(result)
    {
        var template = $('#albumtmpl').html();
        var html = Mustache.to_html(template, result);
        $('#formresult').html(html);
    }
</script>

<script src="~/Scripts/mustache.js"></script>
